@import "reset";
@import "select";

$Poppins: 'Poppins', sans-serif;
$Source: 'Source Serif Pro', serif;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #ffffff;
}

::-webkit-scrollbar-thumb {
  background: rgba(238, 85, 20, 0.3);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(238, 85, 20, 0.5);
}

@keyframes slide {
  0% {
    position: relative;
    right: 0;
  }
  100% {
    position: relative;
    right: -100vw;
  }
}

%btn-orange {
  padding: 15px 30px;
  background: #EE5514;
  border-radius: 5px;
  border: none;
  outline: none;
  font-family: $Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #FFFFFF;
  cursor: pointer;
  margin-left: 10px;
}

%circle-styles {
  height: 140px;
  width: 140px;
  border-radius: 50%;
  margin-bottom: 35px;
}

%logo-styles {
  .logo__text {
    font-family: $Source;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    color: #1A0A03;
    text-transform: uppercase;
    text-align: center;
  }

  &:before {
    content: '';
    display: flex;
    width: calc(100% + 20px);
    height: 25px;
    background: #333333;
    position: relative;
    bottom: -10px;
    background: url("./images/logo.svg") no-repeat 0 center;
    background-size: contain;
    left: -30px;
  }
}

.wrap {
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;


  .header {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 25px 50px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    transition: background-color 0.3s;

    .header__group {
      height: 100%;
      width: 50%;
      display: flex;
      align-items: center;
      justify-content: space-around;
      gap: 50px;

      .logo {
        @extend %logo-styles;
        position: relative;
        cursor: pointer;
        top: -8px;
      }

      .header__navigation {
        display: flex;
        align-items: center;

        .header__list {
          display: flex;
          gap: 25px;

          .header__list-item {
            .header__url {
              text-decoration: none;
              font-family: $Poppins;
              font-style: normal;
              font-weight: 400;
              font-size: 16px;
              line-height: 160%;
              color: #1A0A03;
              opacity: 0.7;
            }
          }

          .header__list-item_active {
            .header__url {
              color: #EE5514;
            }
          }
        }
      }
    }

    .header__btn-wrapper {
      width: 40%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;

      .header__btn {
        cursor: pointer;
        padding: 10px 30px;
        gap: 10px;
        min-width: 137px;
        height: auto;
        background: #EE5514;
        border-radius: 5px;
        border: none;
        outline: none;
        font-family: $Poppins;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        color: #FFFFFF;
        flex: none;
        order: 0;
        flex-grow: 0;
      }
    }
  }

  .menu {
    width: 100%;
    min-height: 100vh;
    padding: 0 100px;
    margin-top: -50px;

    .menu__background {
      height: 85vh;
      opacity: 0.1;
      z-index: 0;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
    }

    .menu__row {
      width: 100%;
      display: flex;
      align-items: flex-start;
      justify-content: space-around;
      margin-top: 100px;
      padding: 30px;
      gap: 50px;

      .menu__text-group {
        height: calc(80vh - 130px);
        width: 50%;
        display: flex;
        justify-content: center;
        flex-direction: column;

        .menu__headline {
          font-family: $Source;
          font-style: normal;
          font-weight: 600;
          font-size: 61px;
          line-height: 120%;
          color: #1A0A03;

          &_orange {
            color: #EE5514;
          }
        }

        .menu__text {
          font-family: $Poppins;
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 160%;
          color: #1A0A03;
          opacity: 0.7;
        }
      }

      .menu__image-group {
        height: calc(80vh - 50px);
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-shrink: 0;

        .menu__image {
          height: 400px;
          width: 550px;
          margin-right: -255px;
          background: transparent url("./images/main-images/0.png") no-repeat center;
          background-size: contain;
          z-index: 5;
          flex-grow: 0;
          display: flex;
        }

        .menu__canvas-wrap {
          &::after {
            content: '';
            display: flex;
            width: 400px;
            height: 100px;
            margin-top: -100px;
            margin-left: -280px;
            z-index: 3;
            background: rgba(0, 0, 0, 0.3);
            filter: blur(74px);
            align-self: flex-end;
            border-radius: 50%;
          }
        }

        .menu__image-border {
          width: 400px;
          height: 400px;
          min-width: 400px;
          min-height: 400px;
          max-width: 400px;
          max-height: 400px;
          flex-grow: 1;
          margin-left: -275px;
          z-index: 2;
        }

        .menu__next-btn {
          width: 70px;
          height: 70px;
          background: rgba(238, 85, 20, 0.1) url("./images/arrow-right.svg") no-repeat 53% center;
          background-size: 40% 40%;
          border-radius: 50%;
          border: none;
          outline: none;
          cursor: pointer;
          margin-right: -60px;
          z-index: 6;
        }
      }
    }

    .menu__card {
      height: 125px;
      width: 65%;
      max-width: 792px;
      background: #FFFFFF;
      box-shadow: 0 1px 14px rgba(26, 10, 3, 0.05);
      border-radius: 5px;
      padding: 30px 50px;
      display: flex;
      align-items: center;
      justify-content: space-around;
      position: relative;
      top: -83px;
      z-index: 10;

      .menu__hr {
        display: block;
        height: 70%;
        width: 1.5px;
        background: #EE5514;
        border: none;
        outline: none;
        margin: 0 10px;
      }

      .menu__column {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        .menu__title {
          font-family: $Poppins;
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 160%;
          color: #1A0A03;
          opacity: 0.7;
        }
      }

      .menu__btn {
        @extend %btn-orange;
      }
    }
  }

  .menu * {
    z-index: 1;
  }

  .about {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    .video {
      width: 100%;
      min-height: 100vh;
      display: flex;
      align-items: center;
      justify-content: space-around;
      padding: 0 100px;

      .video__description {
        width: calc(50% - 25px);
        margin-right: 25px;

        .video__text {
          max-width: 70%;
          font-family: $Poppins;
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 160%;
          color: #1A0A03;
          opacity: 0.7;
        }
      }

      .video__container {
        width: calc(50% - 50px);
        display: flex;
        align-items: center;
        justify-content: center;

        .video__item {
          max-width: 500px;
          border-radius: 10px;
          display: block;
          position: relative;
          left: 50px;
        }

        .video__control {
          height: 100px;
          width: 100px;
          border-radius: 50%;
          background: #FFFFFF url("./images/play.svg") no-repeat center;
          background-size: 30px;
          position: relative;
          left: -250px;
          flex-shrink: 0;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          transition: opacity 0.3s;
        }
      }
    }

    .feature {
      width: 100%;
      min-height: 100vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 0 100px;

      .about__headline_3, .about__headline_2 {
        width: 100%;
        text-align: center;
      }

      .about__headline_3 {
        margin-bottom: 25px;
      }

      .feature__cards {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 25px;

        .feature__card {
          max-width: 360px;
          background: #FFFFFF;
          box-shadow: 0 1px 30px rgba(26, 10, 3, 0.05);
          border-radius: 10px;
          padding: 50px;
          margin-right: 20px;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;

          &:last-child {
            margin-right: 0;
          }

          .about__headline_4 {
            margin-bottom: 10px;
          }

          .about__text {
            margin-bottom: 20px;
          }

          .feature__url {
            text-decoration: none;
            font-family: $Poppins;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 160%;
            text-align: center;
            color: #EE5514;
            display: flex;
            align-items: center;
            position: relative;
            left: 5px;

            .feature__arrow {
              height: 8px;
              width: 4px;
              display: block;
              background: url("./images/arrow-right.svg") no-repeat center;
              background-size: contain;
              margin-left: 10px;
            }
          }

          .feature__icon {
            @extend %circle-styles;
          }

          &.feature__card_quality {
            .feature__icon {
              background: rgba(18, 101, 225, 0.1) url("./images/feature-icon01.svg") no-repeat center;
              background-size: 70px;
            }
          }

          &.feature__card_flexible {
            .feature__icon {
              background: rgba(95, 46, 234, 0.1) url("./images/feature-icon03.svg") no-repeat center;
              background-size: 70px;
            }
          }

          &.feature__card_long {
            .feature__icon {
              background: rgba(170, 33, 234, 0.1) url("./images/feature-icon02.svg") no-repeat center;
              background-size: 70px;
            }
          }

          &.feature__card_active {
            background: rgba(238, 85, 20, 0.1);
          }
        }
      }
    }

    .gallery {
      width: 100%;
      max-width: 1140px;
      min-height: 100vh;
      padding: 100px 0;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      align-self: center;

      .about__headline_3 {
        margin: 15px 0;
      }

      .gallery__row {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 50px;

        .gallery__title {
          font-family: $Poppins;
          font-style: normal;
          font-weight: 400;
          font-size: 20px;
          line-height: 140%;
          letter-spacing: 0.05em;
          color: #1A0A03;
          opacity: 0.7;
          margin-right: 50px;
        }

        .gallery__ctg-btn {
          border: none;
          outline: none;
          background: transparent;
          font-family: $Poppins;
          font-style: normal;
          font-weight: 400;
          font-size: 18px;
          line-height: 140%;
          letter-spacing: 0.05em;
          color: #1A0A03;
          opacity: 0.7;
          margin-right: 20px;
          cursor: pointer;

          &_active {
            text-decoration: underline;
            opacity: 1;
            color: #EE5514;
          }
        }

        .gallery__btn-place {
          display: flex;

          .gallery__btn {
            height: 50px;
            width: 50px;
            background: rgba(238, 85, 20, 0.1);
            border-radius: 50%;
            cursor: pointer;

            &.gallery__btn_left {
              background: rgba(238, 85, 20, 0.1) url("./images/arrow-left.svg") no-repeat center;
              background-size: 8px 16px;
              margin-right: 25px;
            }

            &.gallery__btn_right {
              background: rgba(238, 85, 20, 0.1) url("./images/arrow-right.svg") no-repeat center;
              background-size: 8px 16px;
            }
          }

        }

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    .testimonials {
      width: 100%;
      min-height: 100vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 0 50px;

      .about__headline {
        margin-bottom: 25px;
      }

      .testimonials__content {
        height: 80vh;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-top: 25px;

        .testimonials__image {
          width: 50%;
          max-width: 555px;
          height: 364px;
          background: url("./images/testimonials-image.png") no-repeat center;
          background-size: cover;
        }

        .testimonials__column {
          min-height: 364px;
          max-width: 555px;
          width: 50%;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: flex-start;
          margin-left: 50px;
          transition: opacity 0.3s;

          .testimonials__row {
            width: 100%;
            display: flex;
            justify-content: space-between;
            margin-bottom: 60px;

            .testimonials__avatar {
              height: 100px;
              width: 100px;
              background: url('./images/testimonials-avatar.png') no-repeat center;
              background-size: cover;
              border: 2px solid #EE5514;
              border-radius: 50%;
            }

            .testimonials__btn-place {
              display: flex;

              .testimonials__btn {
                height: 50px;
                width: 50px;
                background: rgba(238, 85, 20, 0.1);
                border-radius: 50%;
                cursor: pointer;

                &.testimonials__btn_left {
                  background: rgba(238, 85, 20, 0.1) url("./images/arrow-left.svg") no-repeat center;
                  background-size: 8px 16px;
                  margin-right: 25px;
                }

                &.testimonials__btn_right {
                  background: rgba(238, 85, 20, 0.1) url("./images/arrow-right.svg") no-repeat center;
                  background-size: 8px 16px;
                }
              }

            }
          }

          .about__headline_4 {
            width: 100%;
            text-align: left;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;

            &::before {
              content: '';
              height: 35px;
              width: 35px;
              background: url('./images/quote.svg') no-repeat center;
              background-size: contain;
            }

            &.about__headline_font {
              font-family: $Poppins;
              font-style: normal;
              font-weight: 500;
              font-size: 18px;
              line-height: 160%;
              color: #1A0A03;

              &::before {
                display: none;
              }
            }
          }

          .about__text {
            margin: 15px 0;
            font-style: italic;
            text-align: left;

            &.about__text_margin-clear {
              margin: 0;
              font-style: normal;
            }
          }
        }
      }
    }

    .about__headline_2 {
      font-family: $Source;
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      line-height: 150%;
      letter-spacing: 0.05em;
      color: #EE5514;
      text-transform: uppercase;
    }

    .about__headline_3 {
      font-family: $Source;
      max-width: 91%;
      font-style: normal;
      font-weight: 600;
      font-size: 44px;
      line-height: 130%;
      color: #1A0A03;
    }

    .about__headline_4 {
      font-family: $Source;
      font-style: normal;
      font-weight: 600;
      font-size: 22px;
      line-height: 150%;
      text-align: center;
      color: #1A0A03;
    }

    .about__text {
      font-family: $Poppins;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 160%;
      text-align: center;
      color: #1A0A03;
      opacity: 0.7;
    }
  }

  .newsletter {
    width: 100%;
    max-width: 1140px;
    background: rgba(129, 168, 218, 0.1);
    border-radius: 10px;
    margin: 0 100px;
    display: flex;
    justify-content: flex-start;
    align-self: center;

    .newsletter__image {
      width: 40%;
      max-width: 488px;
      height: 334px;
      background: url("./images/newssletter-image.png") no-repeat center;
      background-size: 120%;
      border-radius: 10px 0 0 10px;
    }

    .newsletter__section {
      width: 60%;
      padding: 50px;

      .newsletter__headline {
        font-family: $Source;
        font-style: normal;
        font-weight: 600;
        font-size: 31px;
        line-height: 140%;
        color: #1A0A03;
      }

      .newsletter__text {
        font-family: $Poppins;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 160%;
        color: #1A0A03;
        opacity: 0.7;
        margin-top: 20px;
        margin-bottom: 40px;
      }

      .newsletter__input-group {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;

        label {
          width: 100%;
        }

        .newsletter__input {
          width: 100%;
          height: 50px;
          border: 1px solid rgba(0, 0, 0, 0.1);
          border-radius: 5px;
          padding: 15px 30px 15px 20px;
          outline: none;
          font-family: $Poppins;
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 160%;
          color: #1A0A03;
          opacity: 1;
          background: transparent;

          &::placeholder {
            font-family: $Poppins;
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 160%;
            color: #1A0A03;
            opacity: 0.6;
          }
        }

        .newsletter__btn {
          height: 50px;
          background: #EE5514;
          border-radius: 0 5px 5px 0;
          border: none;
          outline: none;
          padding: 16px 31px;
          cursor: pointer;
          font-family: $Poppins;
          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          line-height: 160%;
          color: #FFFFFF;
          display: flex;
          align-items: center;
          justify-content: flex-start;
          margin-left: -5px;
        }
      }
    }
  }

  .footer {
    width: 100%;
    padding: 50px 100px;
    display: flex;
    flex-direction: column;
    background: rgba(238, 85, 20, 0.04);

    .footer__upper {
      width: 100%;
      display: flex;
      align-items: flex-start;
      justify-content: center;
      margin-bottom: 50px;

      .footer__column {
        width: 25%;
        margin-right: 20px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;

        &:last-child {
          margin-right: 0;
        }

        .logo {
          @extend %logo-styles;
          margin-bottom: 30px;
          position: relative;
          top: -10px;
          right: -25px;
        }

        .footer__url {
          height: 20px;
          width: 20px;
          display: block;
          background: gray;
          margin-right: 25px;
        }

        .footer__url_facebook {
          background: url("./images/social-medias-icon2.svg");
          background-size: contain;
        }

        .footer__url_instagram {
          background: url("./images/social-medias-icon3.svg");
          background-size: contain;
        }

        .footer__url_twitter {
          background: url("./images/social-medias-icon1.svg");
          background-size: contain;
        }

        .footer__url_google {
          background: url("./images/social-medias-icon4.svg");
          background-size: contain;
        }

        .footer__row {
          display: flex;
          width: 100%;
          justify-content: flex-start;
        }

        .footer__text {
          height: auto;
          width: auto;
          font-family: $Poppins;
          font-style: normal;
          font-weight: 400;
          font-size: 18px;
          line-height: 160%;
          color: #1A0A03;
          opacity: 0.7;
          margin-bottom: 20px;
          text-decoration: none;
          background: transparent;
          margin-right: 0;
        }

        .footer__headline {
          font-family: $Poppins;
          font-style: normal;
          font-weight: 400;
          font-size: 18px;
          line-height: 160%;
          color: #1A0A03;
          margin-bottom: 35px;
        }

        .footer__input-group {
          width: 100%;
          display: flex;
          justify-content: flex-start;
          align-items: center;

          .footer__input {
            height: 50px;
            border: 1px solid rgba(0, 0, 0, 0.1);
            border-radius: 5px;
            padding: 15px 30px 15px 20px;
            outline: none;
            font-family: $Poppins;
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 160%;
            color: #1A0A03;
            opacity: 1;
            background: transparent;

            &::placeholder {
              font-family: $Poppins;
              font-style: normal;
              font-weight: 400;
              font-size: 14px;
              line-height: 160%;
              color: #1A0A03;
              opacity: 0.6;
            }
          }

          .footer__btn {
            height: 50px;
            background: #EE5514;
            border-radius: 0 5px 5px 0;
            border: none;
            outline: none;
            padding: 16px 31px;
            cursor: pointer;
            font-family: $Poppins;
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 160%;
            color: #FFFFFF;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            margin-left: -5px;
          }
        }
      }
    }

    .footer__hr {
      width: 100%;
      color: rgba(166, 164, 164, 1);
      margin-bottom: 50px;
    }

    .footer__bottom {
      font-family: $Poppins;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 160%;
      text-align: center;
      color: #1A0A03;
      opacity: 0.7;
      margin: -20px 0;
    }
  }

  .card {
    width: 25%;
    margin-right: 25px;

    .card__image {
      height: 170px;
      width: 262px;
      background: #eeeeee;
      margin-bottom: 30px;
      border: 1px solid rgba(26, 10, 3, 0.1);
      filter: drop-shadow(0px 1px 30px rgba(26, 10, 3, 0.05));
      border-radius: 10px;
    }

    .card__name {
      font-family: $Source;
      font-style: normal;
      font-weight: 600;
      font-size: 22px;
      line-height: 150%;
      color: #1A0A03;
      margin-bottom: 15px;
    }

    .card__property {
      display: flex;
      gap: 5px;
      font-family: $Poppins;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 160%;
      color: #1A0A03;
      opacity: 0.7;
      margin-bottom: 10px;

      .card__value {
        opacity: 0.8;
        font-weight: 500;
        margin-right: 10px;
        display: block;
      }

    }

    .card__btn {
      @extend %btn-orange;
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}