html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* The container must be positioned relative: */
.custom-select {
  width: 80px;
  position: relative;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;
  color: #1A0A03;
}

.custom-select select {
  display: none; /*hide original SELECT element: */
}

.select-selected {
  background: transparent url("./images/arrow-down.svg") no-repeat 100% center;
  background-size: 12px 6px;
}

/* style the items (options), including the selected item: */
.select-items div, .select-selected {
  color: #000000;
  padding: 0;
  border: none;
  cursor: pointer;
}

/* Style items (options): */
.select-items {
  position: absolute;
  background-color: #ffffff;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

/* Hide the items when the select box is closed: */
.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@keyframes slide {
  0% {
    position: relative;
    right: 0;
  }
  100% {
    position: relative;
    right: -100vw;
  }
}
.wrap .header .header__group .logo .logo__text {
  font-family: "Source Serif Pro", serif;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  color: #1A0A03;
  text-transform: uppercase;
  text-align: center;
}
.wrap .header .header__group .logo:before {
  content: "";
  display: flex;
  width: calc(100% + 20px);
  height: 25px;
  background: #333333;
  position: relative;
  bottom: -10px;
  background: url("./images/logo.svg") no-repeat 0 center;
  background-size: contain;
  left: -30px;
}

.wrap {
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}
.wrap .header {
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 25px 50px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  transition: background-color 0.3s;
}
.wrap .header .header__group {
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 50px;
}
.wrap .header .header__group .logo {
  position: relative;
  cursor: pointer;
  top: -8px;
}
.wrap .header .header__group .header__navigation {
  display: flex;
  align-items: center;
}
.wrap .header .header__group .header__navigation .header__list {
  display: flex;
  gap: 25px;
}
.wrap .header .header__group .header__navigation .header__list .header__list-item .header__url {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #1A0A03;
  opacity: 0.7;
}
.wrap .header .header__group .header__navigation .header__list .header__list-item_active .header__url {
  color: #EE5514;
}
.wrap .header .header__btn-wrapper {
  width: 40%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.wrap .header .header__btn-wrapper .header__btn {
  cursor: pointer;
  padding: 10px 30px;
  gap: 10px;
  min-width: 137px;
  height: auto;
  background: #EE5514;
  border-radius: 5px;
  border: none;
  outline: none;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  color: #FFFFFF;
  flex: none;
  order: 0;
  flex-grow: 0;
}
.wrap .menu {
  width: 100%;
  min-height: 100vh;
  padding: 0 100px;
  margin-top: -50px;
}
.wrap .menu .menu__background {
  height: 85vh;
  opacity: 0.1;
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.wrap .menu .menu__row {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  margin-top: 100px;
  padding: 30px;
  gap: 50px;
}
.wrap .menu .menu__row .menu__text-group {
  height: calc(80vh - 130px);
  width: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.wrap .menu .menu__row .menu__text-group .menu__headline {
  font-family: "Source Serif Pro", serif;
  font-style: normal;
  font-weight: 600;
  font-size: 61px;
  line-height: 120%;
  color: #1A0A03;
}
.wrap .menu .menu__row .menu__text-group .menu__headline_orange {
  color: #EE5514;
}
.wrap .menu .menu__row .menu__text-group .menu__text {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #1A0A03;
  opacity: 0.7;
}
.wrap .menu .menu__row .menu__image-group {
  height: calc(80vh - 50px);
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-shrink: 0;
}
.wrap .menu .menu__row .menu__image-group .menu__image {
  height: 400px;
  width: 550px;
  margin-right: -255px;
  background: transparent url("./images/main-images/0.png") no-repeat center;
  background-size: contain;
  z-index: 5;
  flex-grow: 0;
  display: flex;
}
.wrap .menu .menu__row .menu__image-group .menu__canvas-wrap::after {
  content: "";
  display: flex;
  width: 400px;
  height: 100px;
  margin-top: -100px;
  margin-left: -280px;
  z-index: 3;
  background: rgba(0, 0, 0, 0.3);
  filter: blur(74px);
  align-self: flex-end;
  border-radius: 50%;
}
.wrap .menu .menu__row .menu__image-group .menu__image-border {
  width: 400px;
  height: 400px;
  min-width: 400px;
  min-height: 400px;
  max-width: 400px;
  max-height: 400px;
  flex-grow: 1;
  margin-left: -275px;
  z-index: 2;
}
.wrap .menu .menu__row .menu__image-group .menu__next-btn {
  width: 70px;
  height: 70px;
  background: rgba(238, 85, 20, 0.1) url("./images/arrow-right.svg") no-repeat 53% center;
  background-size: 40% 40%;
  border-radius: 50%;
  border: none;
  outline: none;
  cursor: pointer;
  margin-right: -60px;
  z-index: 6;
}
.wrap .menu .menu__card {
  height: 125px;
  width: 65%;
  max-width: 792px;
  background: #FFFFFF;
  box-shadow: 0 1px 14px rgba(26, 10, 3, 0.05);
  border-radius: 5px;
  padding: 30px 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
  top: -83px;
  z-index: 10;
}
.wrap .menu .menu__card .menu__hr {
  display: block;
  height: 70%;
  width: 1.5px;
  background: #EE5514;
  border: none;
  outline: none;
  margin: 0 10px;
}
.wrap .menu .menu__card .menu__column {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.wrap .menu .menu__card .menu__column .menu__title {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #1A0A03;
  opacity: 0.7;
}
.wrap .menu .menu__card .menu__btn {
  padding: 15px 30px;
  background: #EE5514;
  border-radius: 5px;
  border: none;
  outline: none;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #FFFFFF;
  cursor: pointer;
  margin-left: 10px;
}
.wrap .menu * {
  z-index: 1;
}
.wrap .about {
  width: 100%;
  min-height: 100vh;
}
.wrap .about .video {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0 100px;
}
.wrap .about .video .video__description {
  width: calc(50% - 25px);
  margin-right: 25px;
}
.wrap .about .video .video__description .video__text {
  max-width: 70%;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #1A0A03;
  opacity: 0.7;
}
.wrap .about .video .video__container {
  width: calc(50% - 50px);
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrap .about .video .video__container .video__item {
  max-width: 500px;
  border-radius: 10px;
  display: block;
  position: relative;
  left: 50px;
}
.wrap .about .video .video__container .video__control {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background: #FFFFFF url("./images/play.svg") no-repeat center;
  background-size: 30px;
  position: relative;
  left: -250px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: opacity 0.3s;
}
.wrap .about .about__headline_2 {
  font-family: "Source Serif Pro", serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0.05em;
  color: #EE5514;
  text-transform: uppercase;
}
.wrap .about .about__headline_3 {
  font-family: "Source Serif Pro", serif;
  max-width: 91%;
  font-style: normal;
  font-weight: 600;
  font-size: 44px;
  line-height: 130%;
  color: #1A0A03;
}

/*# sourceMappingURL=style.css.map */
